<br>
<br>
<br>
<br>
<br>


<div id="top-of-music">

<h1> The {{userName}} Music List </h1>



  <div class="records-to-remember">
    <input type="text" class="music-searchbox" placeholder="search through your list" ng-model="searchMusic"></input>
    <ul ng-repeat="record in listData | filter:searchMusic">

      <div class="record-img">
        <img src="{{record.img}}" alt="">
      </div>
  <div class="record-info smaller-list-info">
      <h3> {{ record.artist}} </h3>
      <h3> {{ record.content}} </h3>
    <button ng-click="removeRecord(record.artist, record.content, 'music')">remove</button>
      </div>
    </ul>

  </div>
</div>
