<div ng-controller="MusicController as music" id="music-div">
  <h1> search a musician. </h1>

  <input ng-model="search"></input><button id="music-button" ng-click="searchRecord()">go</button>
  <h2 id="music-fail"> {{musicFail}}</h2>

    <div ng-repeat="record in full | orderBy:'-record.data.album.playcount'">
    <div class="record-title">
        <h2> {{record.data.album.name}} </h2>
    </div>
    <div class="record-img">
      <img src={{record.data.album.image[3]["#text"]}} alt=""></img>
    </div>
    <div class="record-info">
      <h4> Number of Plays on Last.fm: {{record.data.album.playcount.toLocaleString()}} </h4>
      <h4>Number of Listeners: {{record.data.album.listeners.toLocaleString()}}</h4>
      <h4><a href="{{record.data.album.url}}">View on Last.fm</a></h4>
      <!-- <button ng-click="showDetails()">more</button><br> -->
        <div>
          <p class="record-summary" ng-bind-html="record.data.album.wiki.content"></p>
        </div>
    </div>
</div>
  <p id="music-foot">All data provided by Last.fm</p>
</div>
