<div ng-controller="MusicController as music" id="music-div">
  <h1> search a musician. </h1>

  <input ng-model="search"></input><button id="music-button" ng-click="searchRecord()">go</button>
  <h2 id="music-fail"> {{musicFail}}</h2>

    <div ng-repeat="record in full | orderBy: orderThings : true track by $index">

    <div class="record-title">
        <h2> {{record.data.album.name}} </h2>
    </div>
    <div class="record-img">
      <img src={{record.data.album.image[3]["#text"]}} alt=""></img>
    </div>
    <div class="record-info">
      <h4> Number of Plays on Last.fm: {{ record.data.album.playcount | Playcount }} </h4>
      <h4>Number of Listeners: {{ record.data.album.listeners | Playcount }}</h4>
      <h4><a href="{{record.data.album.url}}">View on Last.fm</a></h4>
        <div>
          <p class="record-summary" ng-bind-html="record.data.album.wiki.content"></p>
        </div>
        <button ng-click="addToList(record.data.album.artist, record.data.album.name, record.data.album.image[3]['#text'], $index)">Add to My List</button><br>
        <h3 id="after-post">{{ message[$index] }}</h3>
    </div>
</div>
  <p id="music-foot">All data provided by Last.fm</p>
</div>
