body {
  text-align: center;
  background-color: gainsboro;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  background-color: darkgreen;
  color: white;
  width: 100%;
  padding: 0px 0px;
}

nav ul {
  margin: 0;
  padding: 0px 0px;
  width: 100%;
}
nav ul li {
  list-style-type: none;
  float: right;
  display: inline-block;
  font-family: 'Brawler', serif;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  padding-right: 1%;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: gold;
}

/* MOVIE */


#info-container {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Bevan', cursive;
  font-size: 60px;
}

.movie-title {
  font-family: 'Bevan', cursive;
  background-color: white;
  width: 100%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.movie-title h2 {
  font-size: 40px;
}
.movie-info {
  font-family: 'Brawler', serif;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.movie-info p {
  font-size: 20px;
}

.ng-scope {
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both;
}

#movie-div input {
  font-family: 'Brawler', serif;
  font-size: 40px;
}

#movie-div h1 {
  margin-top: 0%;
  padding-top: 10%;
}

#go-button {
  font-family: 'Bevan', cursive;
  font-size: 25px;
  padding: 10px;
  margin-left: 2%;
  background-color: darkgreen;
  color: white;
  border: none;
}

#go-button:hover {
  background-color: lightgray;
  color: darkgreen;
  border: 3px solid darkgreen;
}

.movie-info h3 {
  font-family: 'Brawler', serif;
  font-size: 30px;

}

.more-movie-info {
  font-family: 'Brawler', serif;
  font-size: 20px;
}

#more-info-button {
  font-size: 17px;
  font-family: 'Bevan', cursive;
  background-color: darkgreen;
  color:white;
}

.movie-img {
  float: left;
  display: inline-block;
  width: 30%;
}

.movie-info {
  min-height: 450px;
  text-align: left;
  overflow: auto;
}

#movie-fail {
  font-family: 'Bevan', cursive;
}

#movie-foot {
  padding-top: 10%;
  font-family: 'Brawler', serif;

}

/* MUSIC */

#music-div input {
  font-family: 'Brawler', serif;
  font-size: 40px;
}

#music-div h1 {
  margin-top: 0;
  padding-top: 10%;
}

#music-button {
  font-family: 'Bevan', cursive;
  font-size: 25px;
  padding: 10px;
  margin-left: 2%;
  background-color: darkgreen;
  color: white;
  border: none;
}

#music-button:hover {
  background-color: lightgray;
  color: darkgreen;
  border: 3px solid darkgreen;
}



.record-title {
  font-family: 'Bevan', cursive;
  background-color: white;
  width: 100%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.record-title h2 {
  font-size: 40px;
}

.record-info {
  font-family: 'Brawler', serif;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 450px;
  text-align: left;
  overflow: auto;
}

.record-info h3 {
  font-family: 'Brawler', serif;
  font-size: 30px;

}

.record-info p {
  font-size: 20px;
}

.record-img {
  float: left;
  display: inline-block;
  width: 30%;
}

.record-info button {
  font-family: 'Bevan', cursive;
  background-color: darkgreen;
  color: white;
  font-size: 18px;
}

.record-info button:hover {
  background-color: white;
  color: darkgreen
}

.record-info .record-summary {
  font-size: 15px;
}

#music-fail {
  font-family: 'Bevan', cursive;
}

#music-foot {
  padding-top: 10%;
  font-family: 'Brawler', serif;
}

/** HOME PAGE **/

.headline h1 {
  padding-top: 10%;
  margin-top: 0%;
}

.opening-info h2 {
  font-family: 'Brawler', serif;
}

/* LOGIN */

#FB-button {
  width: 25%;
  font-family: 'Bevan', cursive;
  font-size: 27px;
  color: white;
  background-color: darkblue;
}


/****** USER LIST FIRST PAGE */

#welcome-back {
  width: 100%;
}

#welcome-back h1 {
  margin-top: 0;
  padding-top: 8%;
}

#music-list {
  width: 50%;
  min-height: 400px;
  display: inline-block;
  float: left;
  background-color: black;
  color: white;
  font-family: 'Brawler', serif;
  font-size: 25px;
}

#movie-list {
  width: 50%;
  min-height: 400px;
  display: inline-block;
  background-color: white;
  color: black;
  font-family: 'Brawler', serif;
  font-size: 25px;
}

#movie-list i {
  font-size: 4em;
}



#music-list i {
  font-size: 4em;
}



#music-list-button {
  font-family: 'Brawler', serif;
  background-color: white;
  color: black;
  font-size: 25px;
  border: none;
  margin-top: 5%;
}

#music-list-button:hover  {
  background-color: brown;
  color: white;
}

#film-list-button:hover {
  background-color: brown;
  color: white;
}

#film-list-button {
  font-family: 'Brawler', serif;
  background-color: black;
  color: white;
  font-size: 25px;
  border: none;
  margin-top: 5%;

 }

 #after-post {
   color: darkgreen;
   font-family: 'Brawler', serif;
 }

 .add-movie {
   font-family: 'Bevan', cursive;
   color: white;
   background-color: darkgreen;
   font-size: 20px;
 }

 .smaller-list-info {
   min-height: 320px;
}
