
<div class="headline">
<h1>welcome to gubbinal</h1>

</div>

<div class="opening-info">
  <h2>discover artists' top records and directors' top films.</h2>
  <h2>keep track of the ones you want to remember.</h2>
  <a href="#" ui-sref="music">search musicians</a><br><br><a href="#" ui-sref="film">search directors</a>
  <br>

</div>
